.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
  z-index: 2;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }

  
  100% {

    transform: translateX(0);
    opacity: 0.75;
  }
}

/* Applica l'animazione all'elemento */
.left-entrace {
  opacity: 0;
  animation: slideInFromLeft 0.5s ease-in forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(0);
    opacity: 0.75;
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
  }
}

.left-exit {
  animation: slideInFromRight 0.5s ease-out;
}

.start-58 {
  left: 58% !important;
}

.zoom {
  transition: transform 0.3s ease-in-out;

}

.zoom:hover {
  transform: scale(1.1);
}

.nolastchil:last-child{
  margin-right: 0;
}
